<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'view/header/header' %}
        {{ response.getData('content')|raw }}
    </body>
</html>
